* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#playground {
    position: relative;
    box-sizing: content-box;
    max-width: 450px;
    margin: 0 auto;
    background-color: black;
}

@media screen and (min-width: 450px) {
    #playground {
        border: 4px solid rgb(88, 57, 201);
        border-radius: 6px;
        height: 100vh;
    }
}

#ship {
    position: absolute;
    background-color: rgb(223, 10, 35);
    border-radius: 4px;
    box-shadow: 0 0 6px rgb(170, 135, 135);
}

.touch-tap {
    visibility: hidden;
    position: absolute;
    border: solid 1px rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    height: 120px;
    box-shadow: 0 0 18px 12px rgba(255, 0, 0, 0.1) inset;
}

#ball {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    display: block;
    border: 1px solid rgb(145, 180, 168);
    border-radius: 3px;
}
