* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#game {
    max-width: 462px;
    margin: 0 auto;
    padding: 2px;
    background-color: black;
}

#playground {
    position: relative;
    display: flex;
}

@media screen and (min-width: 462px) {
    #game {
        border: 4px solid rgb(88, 57, 201);
        border-radius: 6px;
    }
}

#ship {
    position: absolute;
    background-color: rgb(223, 10, 35);
    border-radius: 4px;
    box-shadow: 0 0 6px rgb(170, 135, 135);
}

.touch-tap {
    visibility: hidden;
    position: absolute;
    border: solid 1px rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    height: 120px;
    box-shadow: 0 0 18px 12px rgba(255, 0, 0, 0.1) inset;
}

#ball {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

#blocks {
    position: absolute;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px 0;
}

.block {
    display: block;
    border: 1px solid rgb(145, 180, 168);
    border-radius: 3px;
    margin: 0 1px;
}
